*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* this is just the containre */
.slider-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width: 100vw;
    height: 90vh;
}

.slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 0;
    height: 90%;
    width: 90%;
}

.slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.left-side,
.right-side{
    position: absolute;
    cursor: pointer;;
    height: 100%;
    width: 15%;
}

.left-side{
    left: 0;
}

.right-side{
    right: 0;
}

.slider:hover > .buttons{
    opacity: 1;
}

.buttons{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .2s;
}


.las{
    padding: 0px 30px;
    color: white;
}